.footer {
    position: fixed;
    bottom: 0;right: -2rem;
    &__inner {
        display: flex;
        justify-content: flex-end;
    }
    &__lang {
        margin: 50px;
    }
}
.lang{
    font-family: $poppins;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .6s;
    &.active{
        color: $active-color;
    }
}