.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;



    &.fix {
        background-color: $section-color;
        @include _600 {
            height: 3rem;
            background-color: $section-color;
        }

    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;


    }
}

.nav {
    margin: 2rem 0;


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        @include _600 {
            position: absolute;
            flex-direction: column;
            right: 0;
            align-items: flex-end;
            top: 0;
            background-color: $section-color;
            height: 100vh;
            justify-content: flex-start;
            padding-top: 4rem;
            transform: translateX(100%);
            transition: .6s ease-in-out;
            &.show {


            
                box-shadow: 0 0 8px rgba($text-color, .7);
                 transform: translateX(0);
             }

        }

       
    }

    &__link {
        margin: 0 1.4rem;
        text-transform: uppercase;
        font-family: $poppins;
        color: #fff;
        // mix-blend-mode: difference;
        cursor: pointer;
        transition: .7s;

        &.black {
            color: #404040;
        }

        &.active {
            mix-blend-mode: normal;
            color: $active-color;
        }

        @include _600{
            display: block;
            padding: 1rem;
        }
    }

    &__mob {
        display: none;
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        @include _land{
            display: none;
        }
        &.active {
            display: block;

        }

        // @include _600 {
        //     display: block;

           
        // }

        & span {
            position: absolute;
            top: calc(50% - 1px);
            display: block;
            width: 100%;
            height: 2px;
            background-color: #404040;

            &:before,
            &:after {
                position: absolute;
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                background-color: #404040;
                transition: .5s;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
            }

            &.active {
                background-color: transparent;

                &:before {
                    transform: rotate(45deg) translate(6px, 6px);
                }

                &:after {
                    transform: rotate(-45deg) translate(7px, -9px);
                }
            }
        }

       


    }
}