.header{
    &-inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.nav {
    margin: 1.4rem 0;
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        margin: 0 1.4rem;
        text-transform: uppercase;
        font-family: $poppins;

        &.active{
            color: $active-color;
        }
    }
}