.portfolio{

    &__inner{
        display: flex;
        flex-wrap: wrap;
        // padding: 0 5rem;
        transition: .5s;

    }
    &__item{
        width: calc(100%/3);
        display: flex;
        justify-content: center;
        align-items: center;

        transition: .5s;

        @include _969{
            width: 48%;
        }
        @include _767{
            width: 100%;
        }

        &-photo{
            position: relative;
            // max-width: 275px;
            background-color: darken(rgba($active-color, .55), 10%);
            border-radius: 15px;
            cursor: pointer;
            margin: 1rem;

            @include _450{
                margin: 0.5rem;
            }


            &:hover img{
                transform: translate3d(-10px, -10px, 0);
                transition: .3s;

            }

            & img{
                max-width: 100%;
                transform: translate3d(0,0, 0);
                border-radius: inherit;
                transition: .4s;
            }
        }

    }

}