.project{
    position: absolute;
    display: block;
    // top: 0;
    right: 0;
    left: 100%;
    background-color: $section-color;
    border-radius: 5px;
    height: 95%;
    width: 1000px;
    z-index: 5;
    transform: translateX(100%);
    overflow-y: scroll;
    margin: 0 auto;
    box-shadow: 0 0 .9rem .4rem rgba($text-color, 1.0);
    transition: .7s;

    @include _1170{
        width: 95%;
    }


    &.active{
        display: block;
        transform: translateX(-50%);
        left: 50%;
    }

    &__inner{
        padding: 1.5rem;

        @include _450 {
            padding: 0.6rem;
        }
    }

    &__top{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 6rem;

        @include _969{
            flex-direction: column;
            margin-bottom: 1.1rem;
        }
    }

    &__imgs{
        width: 60%;
        // border-radius: 1rem;
        overflow: hidden;
        overflow-y: scroll;
        height: 350px;
        box-shadow: 0 0 5px 2px rgba($text-color, .7);
        transition: .5s;
        img {
            width: 100%;
        }

        @include _969{
            width: 100%;
            height: auto;
        }
    }
    &__info{
        margin-top: 2rem;
        padding-left: 2rem;
        width: 40%;
        box-sizing: border-box;
        transition: .5s;

        @include _969{
            width: 100%;
            display: flex;
        }
        @include _767{
            padding-left: 0;
        }
        @include _600 {
            flex-direction: column;
        }

        &-block{
            display: flex;
            flex-wrap: wrap;
        }

        &-item{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 1.8rem;
            transition: .5s;

            @include _969{
                margin-bottom: 0.8rem;
            }
        }
        &-name{
            width: 6.94rem;
            font-family: $cuprum;
            font-weight: 700;
            color: darken($active-color, 20%);
            text-transform: uppercase;
            transition: .5s;

            @include _450{
                font-size: .8rem;
            }
        }
        &-val{
            font-family: $ubuntu;
            font-weight: 400;
            color: $text-color;
            transition: .5s;

            @include _450{
                font-size: .8rem;
            }
        }
    }
    &__buttons{
        bottom: 0;
        button {
            margin: 0 .7rem .7rem 0;
        }
    }

    &__wrapper{
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba($text-color,.4);
        // transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        transition: .5s;

        &.active{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__dscr{
        margin-top: 1.1rem;

        &-text{



            height: 85px;
            overflow: hidden;
            margin-bottom: 1.1rem;
            transition: .8s;
            p {
            font-size: .8rem;
            font-family: $ubuntu;
            color: $text-color;
            font-weight: 300;
            margin-left: 1.1rem;
            text-align: center;
            transition: .5s;

            @include _600{
                margin-left: 0;
            }
            
            }

            &.show{
                height: auto;
                transition: .8s;
            }
            
            

        }

        &__more{
            display: block;
            margin: 0 auto;
            text-align: center;
            color: darken($active-color, 15%);
            text-decoration: none;
            font-size: .8rem;
            font-family: $ubuntu;
        }
    }
}